.footer-bg {
  background-color: var(--cor-12);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  display: grid;
  grid-template-columns: 3fr 5fr 4fr;
  gap: 140px;
}

.footer a:hover {
  color: var(--cor-0);
}

.footer-titulo {
  margin-bottom: 40px;
}

.contato-links {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contato-links li:nth-child(even)::after {
  content: "";
  display: block;
  max-width: 360px;
  height: 2px;
  background: var(--cor-11);
  margin-top: 16px;
}

.contato-sociais {
  margin-top: 19px;
  display: flex;
  gap: 32px;
}

.informacoes-links {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.direitos {
  grid-column: 1 / -1;
}

@media (max-width: 800px) {
  .footer > a {
    display: none;
  }
  .footer {
    grid-template-columns: 1fr 1fr;
    gap: 60px;
  }

  .footer-titulo {
    margin-bottom: 20px;
  }
}

@media (max-width: 600px) {
  .footer {
    grid-template-columns: 1fr;
  }
}
